<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GDG Soweto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/payment-methods">Payment Methods</a>
        <a class="nav-link" routerLink="/product">Product</a>
        <a class="nav-link" routerLink="/auth">Login</a>
      </div>
    </div>
</nav>